.Rproj.user
.Rhistory
.RData
.Ruserdata

/.htaccess
/.htpasswd

/resources/
/.quarto/
/_freeze/
/_data/
/_data_slide/

*
!/docs
!/docs/**
!.gitignore
!README.md

/docs/.htaccess
/docs/.htpasswd
/docs/.DS_Store
**/*.quarto_ipynb
